{% extends "account/base_manage_password.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <h5 class="card-title mb-4" style="color: var(--primary-blue);">
    <i class="bi bi-key me-2"></i>{% trans "Change Password" %}
  </h5>

  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn mt-2" style="background-color: var(--primary-blue); color: white;">
      {% trans "Update Password" %}
    </button>
    <a href="{% url 'users:detail' request.user.public_id %}" class="btn btn-outline-secondary mt-2 ms-2">
      {% trans "Cancel" %}
    </a>
  </form>
{% endblock content %}
