{% for image in images %}
  <div class="gallery-item" data-tags="{% for tag in image.tags.all %}{{ tag.slug }} {% endfor %}" data-index="{{ forloop.counter0 }}">
    <img src="{{ image.image.url }}"
         alt="{{ image.alt_text|default:'Gallery image' }}"
         loading="lazy"
         class="gallery-image"
         data-index="{{ forloop.counter0 }}"
         onclick="openLightbox({{ forloop.counter0 }})">
    {% if image.caption %}
      <div class="image-caption d-none" data-index="{{ forloop.counter0 }}">{{ image.caption }}</div>
    {% endif %}
  </div>
{% endfor %}
